<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>api</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>com.session.manager.SessionListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>main</servlet-name>
    <jsp-file>/WEB-INF/jsp/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main.jsp</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>user_table</servlet-name>
    <jsp-file>/WEB-INF/jsp/user_table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_table</servlet-name>
    <url-pattern>/user_table.jsp</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>comment_table</servlet-name>
    <jsp-file>/WEB-INF/jsp/comment_table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>comment_table</servlet-name>
    <url-pattern>/comment_table.jsp</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>news_table</servlet-name>
    <jsp-file>/WEB-INF/jsp/news_table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>news_table</servlet-name>
    <url-pattern>/news_table.jsp</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>anime_table</servlet-name>
    <jsp-file>/WEB-INF/jsp/anime_table.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>anime_table</servlet-name>
    <url-pattern>/anime_table.jsp</url-pattern>
  </servlet-mapping>
</web-app>