<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.Comment_animeMapper">
	<!-- 根据资讯的news_idid查询评论信息 -->
	<select id="selectComment_animeByAnime_id" parameterType="String"
		resultType="com.bean.Comment_anime">
		select * from comment_anime where anime_id = #{anime_id}
	</select>
	<!-- 根据评论id查询评论信息 -->
	<select id="selectComment_animeById" parameterType="long"
		resultType="com.bean.Comment_anime">
		select * from comment_anime where id = #{id}
	</select>
	<!-- 添加一条评论 -->
	<insert id="addComment_anime" parameterType="com.bean.Comment_anime">
		insert into comment_anime (anime_id,user_id,create_time,content)
		values(#{anime_id},#{user_id},#{create_time},#{content})
	</insert>
	<!-- 根据评论id删除一条评论 -->
	<delete id="deleteComment_animeById" parameterType="long">
		delete from comment_anime where id = #{id}
	</delete>
	<!-- 获取所有的Comment_anime -->
	<select id="selectAllComment_anime" resultType="com.bean.Comment_anime">
	    select * from comment_anime
	</select>
</mapper>